* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 400px;
  background-color: lightblue;
  position: relative;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  height: 100px;
  transition: all 1s ease-in-out;
}
